<div id="tictactoe">
    <h1>{{title}}</h1>
    <h2>{{gameOverMessage}}</h2>
    <table>
        <tr>
            <td>
                <tic-button (updateXorZero)="updateXorZeroFlag($event)" [xorzero]="isXorZero"></tic-button>
            </td>
            <td>
                <tic-button (updateXorZero)="updateXorZeroFlag($event)" [xorzero]="isXorZero"></tic-button>
            </td>
            <td>
                <tic-button (updateXorZero)="updateXorZeroFlag($event)" [xorzero]="isXorZero"></tic-button>
            </td>
        </tr>
        <tr>
            <td>
                <tic-button (updateXorZero)="updateXorZeroFlag($event)" [xorzero]="isXorZero"></tic-button>
            </td>
            <td>
                <tic-button (updateXorZero)="updateXorZeroFlag($event)" [xorzero]="isXorZero"></tic-button>
            </td>
            <td>
                <tic-button (updateXorZero)="updateXorZeroFlag($event)" [xorzero]="isXorZero"></tic-button>
            </td>
        </tr>
        <tr>
            <td>
                <tic-button (updateXorZero)="updateXorZeroFlag($event)" [xorzero]="isXorZero"></tic-button>
            </td>
            <td>
                <tic-button (updateXorZero)="updateXorZeroFlag($event)" [xorzero]="isXorZero"></tic-button>
            </td>
            <td>
                <tic-button (updateXorZero)="updateXorZeroFlag($event)" [xorzero]="isXorZero"></tic-button>
            </td>
        </tr>
    </table>
</div>